/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 33px;
}
h1 {
	font-size: 25px;
}
p {
	margin: 33px;
	font-size: 15px;
}

.index-title {
	margin: 8px 0;
}
table {
	width: 300px;
}
td {
	padding-bottom: 5px;
	padding-left: 5px;
}

.new-box {
	margin: 8px 0;
}
.error-box {
	width: 500px;
	background-color: #eeeeee;
	border: 3px solid red;
	margin-bottom: 15px;
}
.error-title {
	font-size: 18px;
	color: #fff;
	background-color: #bb0000;
	padding: 0 0 0 10px;
}
.error-text {
	display: inline-block;
	margin: 33px;
	text-align: center !important;
	padding-left: 50px;
	font-size: 14px;
}
input {
	display: block;
	padding: 1px;
}
textarea {
	display: block;
}

.field_with_errors {
	background-color :red;
	border: 3px solid red;
	display: table;
}


.show-manu {
	margin: 0;
}
.ok {
	color: green;
}


.edit-title {
	padding-bottom: 8px;
}
.edit-box {
	padding-bottom: 8px;
}
.edit-manu {
	margin: 0;
	padding-top: 8px;
}
